#signupbg{
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
    /*filter: blur(2px) brightness(130%);*/
    width:100%;
    height:100%;
    
}
#middlePart{
    position:absolute;
    position:absolute;
    height: 97%;
    width: 50%;
    left:25%;
}
#middlePart #firstPart1{
    position:absolute;
    top: 10%;
    left:15%;
    height:25%;
}
#middlePart #firstPart1 #welcoming {
    font-family:sans-serif;
    font-size:30px;
    font-weight:bold;
    color:blue;
}
#middlePart #firstPart1 #register {
    position:absolute;
    font-family:sans-serif;
    font-size:25px;
    font-weight:bold;
    color:blue;
    top:25%;
    left:39%;
}
#middlePart #firstPart1 #IDInput2{
    position:absolute;
    font-size:20px;
    font-family: sans-serif;
    top:60%;
}
#middlePart #firstPart1 #emailInput2 {
    position:absolute;
    font-size:20px;
    font-family:sans-serif;
    top:80%;
}
#middlePart #firstPart1 #usernameInput2 {
    position:absolute;
    font-size:20px;
    font-family:sans-serif;
    top:100%;
}
#middlePart #secondPart1 {
    position:absolute;
    top: 41%;
    left:23%;
    height:10%;
}
#middlePart #secondPart1 #chooseGender {
    font-size:20px;
    font-family: sans-serif;
    color:blue;
}
#middlePart #secondPart1 #chooseGender #fontSize1 {
    font-size:20px;
    font-family: sans-serif;
    color:gray;
}
#middlePart #secondPart1 #bday {
    position:absolute;
    font-size:20px;
    font-family: sans-serif;
    color:blue;
    top:52%;
    left:15%;
}
#middlePart #secondPart1 #bday #fontSize2 {
    font-size:20px;
    font-family: sans-serif;
    color:gray;
}
#middlePart #thirdPart1 {
    position:absolute;
    top: 52%;
    left:15%;
    height:30%;
    width:65%;
}
#middlePart #thirdPart1 #passwordInput2 {
    font-size:20px;
    font-family: sans-serif;
    position:absolute;
    top:0%;
}
#middlePart #thirdPart1 #passwordInput3 {
    font-size:20px;
    font-family: sans-serif;
    position:absolute;
    top:18%;
}
#middlePart #thirdPart1 #bio {
    position:absolute;
    top:36%;
    left:0.5%;
}
#middlePart #thirdPart1 #bio #bioInput1 {
    font-size:20px;
    font-family: sans-serif;
}
#middlePart #thirdPart1 #submitButton1 {
    position:absolute;
    top:77%;
    left:76%;
    font-family: sans-serif;
    font-size:20px;
}
#middlePart #thirdPart1 #errorM2 {
    font-family:sans-serif;
    font-weight:bold;
    font-size:20px;
    color:red;
    background-color:white;
    top:90%;
    left:-8%;
    position:absolute;
    width: 113%;
}